<h1><%= @track.name %></h1>

<% if @track.courses.any? %>
  <h4>Here are the courses for this track:</h4>

  <ol>
    <% @track.courses.each do |course| %>
      <li>
        <%= course.name %> |
        <%= link_to "Edit", edit_track_course_path(@track, course) %> |
        <%= link_to "Delete", track_course_path(@track, course),
                                 :data => {:confirm => "Are you sure?",
                                                :method => "delete"} %>
      </li>
    <% end %>
  </ol>
<% else %>
  <p>There are no courses yet!</p>
<% end %>

<p><%= link_to "Add a course", new_track_course_path(@track) %></p>
<p><%= link_to "Delete List", track_path(@track),
                        :data => {:confirm => "Are you sure?",
                                       :method => "delete"} %></p>

<p><%= link_to "Return to tracks", tracks_path %></p>
